<div>    
	<h2> Autores de la aplicación  <%= title %></h2>
</div>	
    <div id="FotoC">
		<img alt="Oliver Silva" src="./images/osp1.png">
  </div>
 
 <div id="name">

       <p> Nombre : <%= author %> </p> 
	   <p> E-Mail: oliver.silvaperez@gmail.com
 </div>
 
 <div style ="clear:both" > </div>